@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  background-color: black;
	margin: 0;
	padding: 0;
	font-family: 'Anonymous Pro';
  overflow: hidden;
  transition: 1s ease all;
}

video
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 110%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
      object-fit: fill;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
#nameOfSong{
  color: white;
  font-size: 1vh;
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -7%);
}

#center1 {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    height: 80%;
    width: 80vw; 
    max-height: 80vh; 
    max-width: 170vh; 
    border-style: solid;
    border-width: 4px;
    border-color: rgba(54, 54, 54, 0.6);
    z-index:99;
}

#copyright{
  font-family: 'Anonymous Pro';
	font-size: 12px;
  font-weight: 90;
	color: white;
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: -5vh;
  transform: translate(0%, -50%) rotate(-90deg);
}

#item-1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);    
	text-align: center;
	color: white;
}


.wigglePath {
  stroke: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  opacity: 0.25;
}

.MuteBtn {
  position: absolute;
  left: 50%;
  top: 1.5%;
  transform: translate(-50%, -1.5%);    
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 18px;
  text-decoration: none;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.MuteBtn-bars {
  display: block;
}
.MuteBtn-bar {
  fill: currentcolor;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

#pressTo{
  position: absolute;
  left: 50%;
  top: 3%;
  transform: translate(-50%, -3%);   
}
.menu-icon {
  top: 6vh;
  left: 3%;
  transform: translateX(-3%);
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  width: 35px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: transform 0.3s ease;
}

.menu-icon::before {
  top: -10px;
}

.menu-icon::after {
  top: 10px;
}

.menu-icon.open::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-icon.open::after {
  transform: rotate(-45deg);
  top: 0;
}

#menu {
  opacity: 0;
  color: white;
  text-align: center;
  font-size: 3vh;
  font-family: "Kanit";
  background-color: rgba(0, 0, 0, 0.788);
  height: 100%;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: width 0.5s ease, opacity .5s ease; 
}

#menu a {
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  transition: .3s ease-in-out all;
}

#menu a:hover {
  color: rgb(32, 32, 32);
}

#menu.open {
  width: 250px; 
  opacity: 1;
}

#close{
  position: absolute;
  left: 90%;
  top: 4%;
  transform: translate(-90%, -4%);
}

.fade {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.darker{
  background-color: rgba(10, 10, 10, 0.7) !important;
}

#set1 p{
  padding: 15px;
  width: 60vh;
  margin-top: -16px;
  background-color: rgba(7, 7, 7, 0.7);
}

#set2 p{
  padding: 15px;
  width: 35vh;
  margin-top: -16px;
  background-color: rgba(7, 7, 7, 0.7);
}

#set3 p{
  padding: 15px;
  width: 35vh;
  margin-top: -16px;
  background-color: rgba(7, 7, 7, 0.7);
}

#set3,
#set2 {
  display: inline-block;
  vertical-align: top; /* Align the top edges of the divs */
}

#person1,
#person2 {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px; /* Adjust the gap between the divs as needed */
}

/* Only apply margin-right to #person1, not the last item */
#person1:last-child {
  margin-right: 0;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50px;
}

#socials a {
  color: #121212;
  background-color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin: 5px;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-size: 3vh;
}

#socials a:hover{
  background-color: #121212;
  color: white;
}